@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lato);
.cards {
    font-family: 'Lato', sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    background-color: #1A1A1A;
}
.cards * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}
.cards img {
    /*vertical-align: top;*/
    max-width: 100%;
    backface-visibility: hidden;

}
.cards figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 30px;
    background-color: #202123;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);

}
.cards h2,
.cards h3,
.cards p {
    margin: 0;
}
.cards h2,
.cards h3 {
    font-family: 'Slabo 27px', serif;
    line-height: 1.2em;
}
.cards h2 {
    font-size: 1.9em;
    color: #35ADF9;
}
.cards h3 {
    color: #EBEBEB;
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: 1px;
}
.cards p {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.9em;
    margin-top: 12px;
    padding: 12px 0 15px;
    line-height: 1.5em;
}
.cards a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.cards:hover > img,
.cards.hover > img {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.cards:hover figcaption,
.cards.hover figcaption {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

body {
    background: #171717;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.headline {
    font-family: 'Slabo 27px', serif;
    font-size: 2.5em;
    color: #35ADF9;
    text-align: center;
    alignment: center;
    margin: 20px 20px 0 0;
    padding: 0;
}