/* STRG + #-Taste ist instant auskommentieren */

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #b9b6b6;
    box-sizing: border-box;
    

}

.headding{
    font-family: 'Times New Roman', Times, sans-serif;
    font: 0px;
    font-weight: 300px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    margin: 250px auto 5px auto;
    

    box-sizing: border-box;
    border-color: brown;
    border-style: inset;
    border-radius: 8px;
    border-width: 3px;
    border-spacing: 15px 5px;
    width: 250px;
    text-align: center;
}

.container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
}

.hextodec,
.dectobin,
.bintodec,
.dectohex,
.bintohex,
.hextobin
{

    /* background-color: #7dcd85; */

    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.hextodec {
    background-color: rgba(0, 255, 115, 0.788);
    /* box-shadow: 5px 5px 4px 2px gray; */
}

.dectobin {
    background-color: rgb(145, 24, 145);
    /* box-shadow: 5px 5px 4px 2px gray; */
}

.bintodec {
    background-color: rgb(21, 115, 158);
    /* box-shadow: 5px 5px 4px 2px gray; */
}

.dectohex {
    background-color: rgb(134, 180, 47);
    /* box-shadow: 5px 5px 4px 2px gray; */
}

.bintohex {
    background-color: rgb(192, 59, 159);
    /* box-shadow: 5px 5px 4px 2px gray; */
}

.hextobin {
    background-color: rgb(50, 105, 187);
    /* box-shadow: 5px 5px 4px 2px gray; */
}

h2 {
    font-family: 'Times New Roman', Times, sans-serif;
    font: 30px;
    font-weight: 500px;
    padding: 10px 0;
}



p {
    color: white;
    font-size: 18px;
}

.link {
    color: rgba(59, 57, 190, 0.664);
    text-decoration: none;
    background-color: #ffffff;
    padding: 8px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
    color: black;
}
.link:hover {
    background-color: blue;
    color: #ffffff;

}